@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --black-color: #1e1e1e;
  --red-color: #ba1b2d;
  --yellow-color: #fae6a7;
  --navbar-height: 100px;
  --border-size: 30px;
  --transition-time: 0.3s;
  --font-roboto: "Roboto Mono", monospace;
  --font-oswald: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black-color);
  border: var(--border-size) solid var(--red-color);
  border-right-width: calc(var(--border-size) - 10px);
  font-family: var(--font-roboto);
  font-weight: 400;
}

h1 {
  font-size: 49px;
  font-family: var(--font-oswald);
  font-weight: 700;
  line-height: 109.7%;
  text-transform: uppercase;
  color: var(--red-color);
}

h2 {
  font-size: 34px;
  font-family: var(--font-oswald);
  font-weight: 300;
  line-height: 109.7%;
  text-transform: uppercase;
  color: var(--red-color);
}

h3 {
  font-family: var(--font-oswald);
  font-weight: 600;
  font-size: 24px;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: -15px;
  margin-left: 2px;
}

h4 {
  font-family: var(--font-oswald);
  font-weight: 600;
  font-size: 24px;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h5 {
  font-family: var(--font-oswald);
  font-weight: 700;
  font-size: 11px;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

p {
  font-family: inherit;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.011em;
  color: var(--yellow-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--red-color);
}

::-webkit-scrollbar-thumb {
  background: var(--black-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black-color);
}

.navbar {
  width: 100%;
  height: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  overflow: hidden;
  background-color: var(--red-color);
  z-index: 5;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.navbar-fixed {
  height: var(--navbar-height);
}

.navbar-logo {
  z-index: 2;
}

.navbar-logo img {
  width: 180px;
  height: auto;
}

.navbar-container {
  width: 90%;
  height: var(--navbar-height);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.show {
  height: var(--navbar-height);
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar-item {
  padding-right: 50px;
}

.navbar-item a {
  font-family: var(--font-oswald);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--yellow-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.navbar-item:last-child {
  padding-right: 0px;
}

.active {
  color: var(--black-color) !important;
}

.socials {
  display: none;
  list-style: none;
  padding-top: 50px;
}

.social-items {
  padding-right: 20px;
}

.social-items:last-child {
  padding-right: 0px;
}

.social-link img {
  height: 35px;
}

.navbar-mobile-btn {
  cursor: pointer;
  display: none;
  z-index: 2;
}

.navbar-mobile-btn img {
  height: 30px;
}

.navbar-mobile-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--red-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-mobile-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-mobile-item {
  padding-right: 0px;
  padding-bottom: 35px;
}

.navbar-mobile-socials {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: fixed;
  bottom: 10%;
}

.header {
  background-image: url("img/header_silueta.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100vw;
  height: calc(100vh - var(--border-size));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  width: 350px;
  margin-top: 5%;
}

.header ul {
  margin-top: 3%;
}

.container {
  width: 100%;
  margin-top: -1px;
}

.col1 {
  width: calc(100% / 12);
}

.col2 {
  width: calc(100% / 6);
}

.col3 {
  width: 25%;
}

.col4 {
  width: calc(100% / 3);
}

.col5 {
  width: calc(100% / 2.4);
}

.col6 {
  width: 50%;
}

.col7 {
  width: calc(100% / calc(12 / 7));
}

.col8 {
  width: calc(100% / 1.5);
}

.col9 {
  width: calc(100% / 2.4);
}

.col10 {
  width: calc(100% / 1.2);
}

.col11 {
  width: calc(100% / calc(12 / 11));
}

.col12 {
  width: 100%;
}

.mint {
  background-color: var(--yellow-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 600px;
  margin-left: -1px;
  margin-top: -1px;
  width: 101%;
}

.mint h1 {
  font-size: 60px;
  margin-top: 10%;
}

.mint p {
  color: var(--black-color);
  margin-top: 40px;
  margin-bottom: 80px;
}

.mint .cards {
  height: 80%;
}

.mint-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market-btn {
  font-family: var(--font-oswald);
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: var(--black-color);
  padding: 0.5em 1.5em;
}

.join-discord-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  font-family: var(--font-oswald);
  font-size: 30px;
  font-weight: 500;
  color: var(--black-color);
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  -webkit-box-shadow: inset 0px 0px 0px 7px var(--black-color);
          box-shadow: inset 0px 0px 0px 7px var(--black-color);
}

.join-discord-btn img {
  height: 30px;
  margin-right: 10px;
}

.shape {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("img/rounded_margin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100px;
}

.cum_a_inceput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--red-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -1px;
  margin-top: -1px;
  width: 101%;
}

.cum_a_inceput h1 {
  color: white;
}

.cum_a_inceput h3 {
  color: var(--yellow-color);
}

.cum_a_inceput .text {
  margin-top: 40px;
}

.center-fixed-width {
  width: 750px;
  margin: 100px 0;
  margin-bottom: 250px;
}

.hide-text-inceput {
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.show-text-inceput {
  height: 400px;
  overflow: hidden;
}

.show-text-btn-inceput {
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: underline;
  margin: 30px 0;
}

.scoalamaibuna {
  position: relative;
}

.scoalamaibuna img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -43%);
          transform: translate(-50%, -43%);
  width: calc(100vw - calc(var(--border-size) * 3));
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 300px;
}

.gallery h1 {
  color: white;
  margin-bottom: 40px;
}

.gallery p {
  font-size: 15px;
  margin-bottom: 40px;
  padding-right: 50px;
}

.pers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pers-list .row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pers-list .row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pers-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 65%;
  cursor: pointer;
}

.pers-btn img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.pers-btn p {
  color: white;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-right: 0px;
}

.pers-mint-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.pers-mint-btn img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.pers-mint-btn p {
  color: var(--yellow-color);
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-right: 0px;
}

.move-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active-pers {
  opacity: 100%;
}

.change-img {
  background-color: var(--red-color);
}

.gallery-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery-img {
  margin-bottom: 20px;
  padding-right: 20px;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scopul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 150px 0;
}

.hide-text-scopul {
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.show-text-scopul {
  height: 410px;
  overflow: hidden;
}

.show-text-btn-scopul {
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: underline;
  margin: 30px 0;
}

.box {
  width: 1200px;
  background-color: var(--yellow-color);
  padding: 100px;
  padding-right: 150px;
  padding-bottom: 50px;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.box:hover {
  -webkit-box-shadow: 20px 20px var(--red-color);
          box-shadow: 20px 20px var(--red-color);
}

.box h1 {
  margin-bottom: 40px;
}

.box p {
  color: var(--black-color);
}

.box span {
  color: var(--black-color);
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: var(--navbar-height);
  background-image: url("img/icons/roadmap-line.svg");
  background-repeat: no-repeat;
  background-position: center 450px;
  padding-bottom: 40px;
}

.roadmap h1 {
  margin-bottom: 40px;
}

.card {
  margin-bottom: 80px;
}

.roadmap-card {
  background-color: var(--black-color);
  border: 7px solid var(--red-color);
  margin-top: 20px;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
  padding: 50px;
  padding-left: 70px;
}

.roadmap-card:hover {
  -webkit-box-shadow: 10px 10px var(--yellow-color);
          box-shadow: 10px 10px var(--yellow-color);
}

.roadmap-card ul {
  line-height: 180%;
}

.roadmap-card li {
  color: var(--yellow-color);
}

.beneficii {
  background-color: var(--red-color);
  padding: var(--navbar-height) 0;
  margin-left: -1px;
  margin-top: -1px;
  width: 101%;
}

.beneficii h1 {
  color: white;
  margin-bottom: 80px;
}

.beneficii h3 {
  color: var(--yellow-color);
}

.row-beneficiu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-beneficiu {
  width: 40%;
}

.card-beneficiu h4 {
  color: white;
  margin-left: 7px;
}

.titlu-beneficiu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team {
  width: 100%;
  padding: var(--navbar-height) 0;
}

.team h1 {
  color: var(--yellow-color);
  margin-bottom: 80px;
}

.team-gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-card:not(:last-child) {
  margin-right: 20px;
}

.team-card img {
  width: auto;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.team-card img:hover {
  -webkit-box-shadow: 5px 5px var(--red-color);
          box-shadow: 5px 5px var(--red-color);
}

.team-card h5 {
  color: white;
}

.team-card h4 {
  color: var(--yellow-color);
  font-weight: 300;
  margin-top: -25px;
  letter-spacing: 0.08em;
}

.team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.team-socials a:not(:last-child) {
  margin-right: 15px;
}

.team-socials img {
  height: 20px;
}

.team-socials img:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.faq {
  padding-top: var(--navbar-height);
}

.faq h3 {
  color: var(--yellow-color);
}

.faq h1 {
  color: white;
  margin-bottom: 40px;
}

.q-card {
  margin-bottom: 40px;
}

.q-card p {
  margin-left: 37px;
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.q-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.q-title h4 {
  color: var(--red-color);
  margin-left: 10px;
}

.q-title img {
  -webkit-transition: var(--transition-time) ease;
  transition: var(--transition-time) ease;
}

.show-text p {
  height: 50px;
}

.footer {
  background-color: var(--red-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -20px;
  padding: 0 var(--border-size);
  margin-left: -1px;
  margin-top: -1px;
  width: 101%;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.footer-logo img {
  width: 180px;
  height: auto;
}

.footer-socials a img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy h5 {
  font-size: 15px;
  color: white;
  letter-spacing: 0;
}

.copy img {
  margin: 0 5px;
  margin-top: 2px;
  height: 20px;
}

@media (min-width: 1900px) {
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 22px;
  }
  .header {
    background-position: center 102%;
  }
  .header img {
    width: 450px;
  }
  .navbar-item {
    padding-right: 75px;
  }
  .navbar-item a {
    font-size: 2rem;
  }
  .mint {
    padding: 70px 0;
  }
  .shape {
    background-position: center 1px;
  }
  .show-text-inceput {
    height: 530px;
  }
  .center-fixed-width {
    margin-bottom: 300px;
  }
  .gallery p {
    font-size: 18px;
  }
  .pers-btn img,
  .pers-mint-btn img {
    height: 135px;
    width: 135px;
  }
  .pers-btn p,
  .pers-mint-btn p {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .show-text-scopul {
    height: 565px;
  }
  .roadmap {
    background-position: center 500px;
  }
  .roadmap ul {
    font-size: 18px;
  }
  .team-card img {
    height: 450px;
  }
  .team-card h4 {
    margin-top: -15px;
  }
  .team-socials img {
    height: 25px;
  }
  .show-text p {
    height: 60px;
  }
}

@media (max-width: 1200px) {
  :root {
    --border-size: 20px;
  }
  .col1,
  .col10,
  .col11,
  .col12,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9 {
    width: 100%;
  }
  .empty {
    display: none;
  }
  .navbar {
    height: var(--navbar-height);
  }
  .navbar-container {
    opacity: 1;
  }
  .collapse {
    display: none;
  }
  .navbar-mobile-btn {
    display: block;
  }
  .header {
    display: none;
  }
  .container {
    margin-top: calc(var(--navbar-height) - var(--border-size));
  }
  .mint {
    padding: 30px;
    background-image: url("/stuff/img/header_single.svg");
    background-repeat: no-repeat;
    background-position: 75% bottom;
    background-size: 50%;
  }
  .mint .col2,
  .mint .col4,
  .mint .col1 {
    display: none;
  }
  .mint .mint-btns {
    margin-top: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pers-list,
  .gallery-right {
    display: none;
  }
  .team-gal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .center-fixed-width {
    width: 100%;
    margin-bottom: 100px;
  }
  .cum_a_inceput {
    padding: 0 30px;
  }
  .gallery {
    margin-top: 150px;
    padding: 0 30px;
  }
  .box {
    padding: 30px;
    padding-top: 50px;
  }
  .box:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .scopul {
    margin-top: 80px;
    margin-bottom: 0;
  }
  .roadmap {
    padding: 30px;
    background-image: none;
    padding-top: var(--navbar-height);
  }
  .roadmap-card:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .beneficii {
    padding: var(--navbar-height) 30px;
  }
  .row-beneficiu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px !important;
  }
  .card-beneficiu {
    width: 100%;
    margin-bottom: 15px;
  }
  .team {
    padding: 0 30px;
    padding-top: var(--navbar-height);
  }
  .team-card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0px !important;
  }
  .team-card img {
    width: 50%;
  }
  .team-card h4 {
    font-size: 30px;
    margin-top: -15px;
    line-height: 40px;
  }
  .move-left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px;
  }
  .team-socials a {
    margin-right: 15px;
  }
  .team-socials img {
    height: 40px;
  }
  .faq {
    padding: var(--navbar-height) 30px;
  }
}
/*# sourceMappingURL=styles.css.map */